* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
Header {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  margin: 1rem;
  font-family: "GT Zirkon";
}

Header ul {
  list-style: none;
  display: flex;
  text-transform: capitalize;
}
Header ul li {
  display: flex;
  padding: 1.2rem;
  justify-content: space-between;
  cursor: pointer;
}

main {
  /* margin: 1rem; */
  margin-top: 4rem;
}
.introduction {
  display: flex;
  background: #ffe8dc;
  justify-content: center;
  height: 200px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.image img {
  width: 200px;
  border-radius: 50%;
}
.intro-details p a {
  cursor: pointer;
  color: red;
}
.intro-details h2 {
  font-family: "GT Zirkon";
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.intro-details p {
  text-align: center;
  margin-top: 0.4rem;
  font-family: "GT Zirkon";
  font-weight: 400;
}

.skillset {
  padding-top: 2rem;
}
h3,
h2 {
  font-family: "GT Zirkon";
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}
.skillset ul {
  /* list-style: none; */
  display: flex;
  justify-content: center;
}
.skillset ul li {
  margin: 2rem;
  font-size: 2.5rem;
  font-family: "GT Zirkon";
  font-weight: 400;
}
.past_project {
}
.project_details {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}
.pro img {
  width: 400px;
}
.pro p {
  font-family: "GT Zirkon";
  text-align: center;
  text-transform: capitalize;
  width: 400px;
}
.pro button {
  width: 100px;
  height: 30px;
  background-color: #ffe8dc;
  border: none;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border-radius: 4px;
  margin-top: 0.8rem;
}
.pro button a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.lives_impacted {
  margin-top: 4rem;
  margin-left: 5rem;
}
.lives_impacted h4 {
  font-family: "GT Zirkon";
  font-size: 3rem;
  font-weight: 400;
  padding-bottom: 1.2rem;
}
.lives_impacted p {
  font-family: "GT Zirkon";
  font-size: 2rem;
  padding-bottom: 1.2rem;
}
.contact {
  font-family: "GT Zirkon";
  font-size: 2rem;
  margin-left: 5rem;
}

.contact h2 {
  text-align: left;
}
.contact ul {
  list-style: none;
}
.contact ul li {
  margin: 1.2rem;
}
.contact ul li a {
  /* text-decoration: none; */
  cursor: pointer;
  color: black;
}
footer {
  font-family: "GT Zirkon";
  text-align: center;
}
